In [2]:
import numpy as np
import pandas as pd
import xlsxwriter
import re
from collections import namedtuple
import sys

In [3]:
input_file = "out.txt"

Calendar = namedtuple("Calendar",["week","day","hour","id","lecture","professor"]) 
with open(input_file,"r") as file:
    lines = file.read()
    
    ## Parser specification
    regex_predicate = re.compile("calendar\(([0-9]+),([0-9]+),([0-9]+),([0-9]+),lecture\(\"([a-zA-Z0-9]+)\",\"([a-zA-Z0-9]+)\"\)\)")
    regex_top_level = re.compile("(Answer: [0-9]+)\n(.+)")


    # Parse 2 hardcoded nested levels: 
    # lvl 1) multiple answer-set
    parsed_content = {}
    for answer_set_match in re.finditer(regex_top_level,lines):
        answer_set_name = answer_set_match.groups()[0]
        answer_set =  answer_set_match.groups()[1]
        # lvl 2) predicates
        predicates = [Calendar._make(predicate_match.groups()) for predicate_match in re.finditer(regex_predicate,answer_set)]
        
        # build dictionary of parsed answer-sets (normalizing the key value)
        parsed_content[answer_set_name.replace(": ","_")] = predicates

In [4]:
parsed_content

{'Answer_1': [Calendar(week='2', day='1', hour='2', id='212', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='1', hour='3', id='213', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='2', hour='2', id='222', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='2', hour='3', id='223', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='2', hour='4', id='224', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='2', hour='5', id='225', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='3', hour='1', id='231', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='3', hour='2', id='232', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='3', hour='3', id='233', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='3', hour='4', id='234', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='4', hour='1', id='241', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='4', hour='2', id='242', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='4', hour='3', id='243', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='4', hour='4', id='244', lecture='subj2', professor='prof2'),
  Calendar(week='1', day='5', hour='5', id='155', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='1', hour='5', id='215', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='1', hour='7', id='217', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='1', hour='8', id='218', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='2', hour='7', id='227', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='3', hour='6', id='236', lecture='subj1', professor='prof1'),
  Calendar(week='1', day='5', hour='4', id='154', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='5', hour='6', id='156', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='5', hour='7', id='157', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='5', hour='8', id='158', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='6', hour='1', id='161', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='6', hour='2', id='162', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='6', hour='3', id='163', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='6', hour='4', id='164', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='1', hour='1', id='211', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='1', hour='4', id='214', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='1', hour='6', id='216', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='2', hour='1', id='221', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='2', hour='6', id='226', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='2', hour='8', id='228', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='3', hour='5', id='235', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='3', hour='7', id='237', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='3', hour='8', id='238', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='5', hour='5', id='255', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='5', hour='6', id='256', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='5', hour='7', id='257', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='5', hour='8', id='258', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='6', hour='5', id='265', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='4', hour='5', id='245', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='4', hour='6', id='246', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='4', hour='7', id='247', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='4', hour='8', id='248', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='5', hour='1', id='251', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='5', hour='2', id='252', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='5', hour='4', id='254', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='6', hour='1', id='261', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='6', hour='2', id='262', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='6', hour='3', id='263', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='6', hour='4', id='264', lecture='subj4', professor='prof1')]}

In [88]:
df = pd.DataFrame(parsed_content['Answer_1'])

df = df.replace({'day':{'1':'Lun (1)','2':'Mar (2)','3':'Mer (3)',
                   '4':'Gio (4)','5':'Ven (5)','6':'Sab (6)'}})
df = df.set_index(['week','day','hour']).drop('id',axis=1)

In [89]:
df['Lecture'] = df['lecture'] + ": " + df['professor']
df = df.drop(['lecture','professor'], axis=1)

In [90]:
df

                        Lecture
week day     hour
2    Lun (1) 2     subj2: prof2
             3     subj2: prof2
     Mar (2) 2     subj2: prof2
             3     subj2: prof2
             4     subj2: prof2
             5     subj2: prof2
     Mer (3) 1     subj2: prof2
             2     subj2: prof2
             3     subj2: prof2
             4     subj2: prof2
     Gio (4) 1     subj2: prof2
             2     subj2: prof2
             3     subj2: prof2
             4     subj2: prof2
1    Ven (5) 5     subj1: prof1
2    Lun (1) 5     subj1: prof1
             7     subj1: prof1
             8     subj1: prof1
     Mar (2) 7     subj1: prof1
     Mer (3) 6     subj1: prof1
1    Ven (5) 4     subj3: prof3
             6     subj3: prof3
             7     subj3: prof3
             8     subj3: prof3
     Sab (6) 1     subj3: prof3
             2     subj3: prof3
             3     subj3: prof3
             4     subj3: prof3
2    Lun (1) 1     subj3: prof3
             4     subj3: prof3
             6     subj3: prof3
     Mar (2) 1     subj3: prof3
             6     subj3: prof3
             8     subj3: prof3
     Mer (3) 5     subj3: prof3
             7     subj3: prof3
             8     subj3: prof3
     Ven (5) 5     subj3: prof3
             6     subj3: prof3
             7     subj3: prof3
             8     subj3: prof3
     Sab (6) 5     subj3: prof3
     Gio (4) 5     subj4: prof1
             6     subj4: prof1
             7     subj4: prof1
             8     subj4: prof1
     Ven (5) 1     subj4: prof1
             2     subj4: prof1
             4     subj4: prof1
     Sab (6) 1     subj4: prof1
             2     subj4: prof1
             3     subj4: prof1
             4     subj4: prof1

#### Build timetable (TODO)

In [91]:
timetable = df.unstack('hour')
timetable

                   Lecture                                            \
hour                     1             2             3             4
week day
1    Sab (6)  subj3: prof3  subj3: prof3  subj3: prof3  subj3: prof3
     Ven (5)           NaN           NaN           NaN  subj3: prof3
2    Gio (4)  subj2: prof2  subj2: prof2  subj2: prof2  subj2: prof2
     Lun (1)  subj3: prof3  subj2: prof2  subj2: prof2  subj3: prof3
     Mar (2)  subj3: prof3  subj2: prof2  subj2: prof2  subj2: prof2
     Mer (3)  subj2: prof2  subj2: prof2  subj2: prof2  subj2: prof2
     Sab (6)  subj4: prof1  subj4: prof1  subj4: prof1  subj4: prof1
     Ven (5)  subj4: prof1  subj4: prof1           NaN  subj4: prof1


hour                     5             6             7             8
week day
1    Sab (6)           NaN           NaN           NaN           NaN
     Ven (5)  subj1: prof1  subj3: prof3  subj3: prof3  subj3: prof3
2    Gio (4)  subj4: prof1  subj4: prof1  subj4: prof1  subj4: prof1
     Lun (1)  subj1: prof1  subj3: prof3  subj1: prof1  subj1: prof1
     Mar (2)  subj2: prof2  subj3: prof3  subj1: prof1  subj3: prof3
     Mer (3)  subj3: prof3  subj1: prof1  subj3: prof3  subj3: prof3
     Sab (6)  subj3: prof3           NaN           NaN           NaN
     Ven (5)  subj3: prof3  subj3: prof3  subj3: prof3  subj3: prof3

In [62]:
timetable.to_excel("timetable.xlsx")